<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/profile.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <BODY class="index">
	<HEADER class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
	  <DIV class="container">
		<DIV class="navbar-header">
		  <BUTTON class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		  <SPAN class="sr-only">Toggle navigation</SPAN>         
		  <SPAN class="icon-bar"></SPAN>
		  <SPAN class="icon-bar"></SPAN>
		  <SPAN class="icon-bar"></SPAN>
		  </BUTTON>       
		  
		  <A class="navbar-brand" href="#" alt="Less"><IMG src="images/logo.png"></A>     
		</DIV>
	    <NAV class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		<!--
		<UL class="nav navbar-nav">
		  <LI><A href="http://lesscss.org/usage/">Usage</A></LI>
		</UL>
		-->
		<UL class="nav navbar-nav navbar-right">
		  <LI><A href="/about">About</A></LI>
		  <!--
		  <LI class="dropdown"><A class="dropdown-toggle" href="#" data-toggle="dropdown">Navegator <B class="caret"></B></A>
		  <UL class="dropdown-menu">
			<LI><A href="#less-docs">Docs Repo</A></LI>
			<LI><A href="#state=open">Docs ssues</A></LI>
			<LI><A href="#s.git">Less.js Repo</A></LI>
			<LI><A href="#issues">Less.js ssues</A></LI>
		  </UL>
		  </LI>
		  -->
		</UL>
		</NAV>   
	  </DIV>
	</HEADER>
	
	<DIV class="docs-header" id="content">
	  <DIV class="container">
		<H1>Aiden Dai</H1>
		  <P>Email : aiden.dai@gmail.com</P>
	  </DIV>
	</DIV>
	
	<DIV class="banner">
	  <DIV class="container"><STRONG>Senior Software Engineer</STRONG>   
	  </DIV>
	</DIV>
	
	
	<DIV class="container docs-container">
	  <DIV class="row">
		<DIV class="col-md-3">
		  <DIV class="sidebar hidden-print" role="complementary">
			<DIV id="navigation">
				<UL class="nav sidenav">
				  <LI><A href="#summary">SUMMARY</A></LI>
				  <LI><A href="#prof-history">PROFESSIONAL HISTORY</A></LI>
				  <LI><A href="#prof-experience">PROFESSIONAL EXPERIENCE</A>
				  <UL class="nav">
					<LI><A href="#project1">Contract Manufacture Integration project</A></LI>
					<LI><A href="#project2">Fusion Finance Implementation</A></LI>
					<LI><A href="#project3">Intermoutian ERP Implementation and Business Transformation</A></LI>
				  </UL>
				  </LI>
				  <LI><A href="#training">TRAINING AND CERTIFICATIONS</A></LI>
				  <LI><A href="#education">EDUCATION</A></LI>
				  
				</UL>
			</DIV>
		  </DIV>
		</DIV>
		
		
		<DIV class="col-md-9" role="main">
		  <DIV class="panel docs-content">
		  
		    <!-- SUMMARY START -->
			<DIV class="docs-section">
			  <DIV class="page-header">
				<H1 class="docs-heading">SUMMARY<SPAN class="anchor-target" id="summary"></SPAN> 
				<A name="summary" class="anchor glyphicon glyphicon-link" href="#summary"></A></H1>
			  </DIV>
			  
			  <P>Aiden Dai is certified Oracle SOA Consultant, and working as Senior Software Engineer in Oracle team of 
			  PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd. in China.
			  Aiden has more than 5 years experience on software development and more than 4 years experience on 
			  Oracle Fusion Middleware implementation, especially on system integration.</P>
			  <P>Aiden has hands on experience on Oracle Fusion Middleware implementation and customization, and is skilled in various development technologies, 
			  such as PL/SQL, JAVA, SOA/BPM, ADF etc. 
			  Aiden also has hands on experience on system integration for ERP system like Fusion Application,
			  PeopleSoft, E-Business Suite, SAP etc.</P>
			 </DIV>
			 <!-- SUMMARY END -->
			 
			<!-- PROFESSIONAL HISTORY START --> 
			<DIV class="docs-section">
			  <DIV class="page-header">
				<H1 class="docs-heading">PROFESSIONAL HISTORY<SPAN class="anchor-target" id="prof-history"></SPAN> 
				<A name="prof-history" class="anchor glyphicon glyphicon-link" href="#prof-history"></A></H1>
			  </DIV>
			  <UL>
				  <LI>PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd.: Senior Software Engineer, 2012-10 to Present</LI>
				  <LI>Semiconductor Manufacturing International Corporation: Software Engineer, 2011-7 to 2012-10</LI></UL>
			 </DIV>			 
			<!-- PROFESSIONAL HISTORY END -->  
			

			<!-- PROFESSIONAL EXPERIENCE START -->
			 <DIV class="docs-section">
			  <DIV class="page-header">
				<H1 class="docs-heading">PROFESSIONAL EXPERIENCE<SPAN class="anchor-target" id="prof-experience"></SPAN> 
				<A name="prof-experience" class="anchor glyphicon glyphicon-link" href="#prof-experience"></A>
				</H1>
			  </DIV>

				
				  
				<!-- doc heading-->
				<H3 class="docs-heading">Contract Manufacture Integration project<SPAN class="anchor-target" id="project1"></SPAN> 
				<A name="project1" class="anchor glyphicon glyphicon-link" href="#project1"></A></H3>
				<BLOCKQUOTE><P>This is a PwC practice development project to investigate an out-of-box B2B solution among Customers and Suppliers, Oracle XML Gateway 
				and Oracle SOA/B2B technology are used to achieve the goal.</P></BLOCKQUOTE>
				<UL>
				  <LI>Setup Oracle XML Gateway for tracding partners and various transactions like PO Request, PO Change and PO Acknowledge.</LI>
				  <LI>Setup Oracle B2B for different partners and agreements with related documents</LI>
				  <LI>Designing and developing SOA projects to process B2B messages and AQ messages for both inbound and outbound.</LI>
				  <LI>Designing unit test case and perform the unit testing</LI></UL>
				  
				<!-- doc heading-->
				<H3 class="docs-heading">Fusion Finance Implementation<SPAN class="anchor-target" id="project2"></SPAN> 
				<A name="project2" class="anchor glyphicon glyphicon-link" href="#project2"></A></H3>
				<BLOCKQUOTE><P>The project is a PwC practice development initiative and it is aimed to develop expertise around the Oracle Fusion 
				Applications (Fusion Finance) and develop components around RICEW tasks planned as per the project plan..</P></BLOCKQUOTE>
				<UL>
				  <LI>Setup Oracle XML Gateway for tracding partners and various transactions like PO Request, PO Change and PO Acknowledge.</LI>
				  <LI>Setup Oracle B2B for different partners and agreements with related documents</LI>
				  <LI>Designing and developing SOA projects to process B2B messages and AQ messages for both inbound and outbound.</LI>
				  <LI>Designing unit test case and perform the unit testing</LI></UL>

				  
				<!-- doc heading-->
				<H3 class="docs-heading">Intermoutian ERP Implementation and Business Transformation<SPAN class="anchor-target" id="project3"></SPAN> 
				<A name="project3" class="anchor glyphicon glyphicon-link" href="#project3"></A></H3>
				<BLOCKQUOTE><P>The client is a one of the largest hospitals in the Unites States and is the largest healthcare provider in the Intermountain West. The client needs to integrate systems between PeopleSoft FSCM and the third party systems like Coupa, Tecsys, Mobile App etc. 
				The Oracle SOA/AIA Technology was introduced to integrate those third party systems and PeopleSoft.</P></BLOCKQUOTE>
				<UL>
				  <LI>Setup Oracle XML Gateway for tracding partners and various transactions like PO Request, PO Change and PO Acknowledge.</LI>
				  <LI>Setup Oracle B2B for different partners and agreements with related documents</LI>
				  <LI>Designing and developing SOA projects to process B2B messages and AQ messages for both inbound and outbound.</LI>
				  <LI>Designing unit test case and perform the unit testing</LI></UL>
				  


			</DIV>
			<!-- PROFESSIONAL EXPERIENCE END -->


			<!-- TRAINING AND CERTIFICATIONS START --> 
			<DIV class="docs-section">
			  <DIV class="page-header">
				<H1 class="docs-heading">TRAINING AND CERTIFICATIONS<SPAN class="anchor-target" id="training"></SPAN> 
				<A name="training" class="anchor glyphicon glyphicon-link" href="#training"></A></H1>
			  </DIV>
			  <UL>
				  <LI>PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd.: Senior Software Engineer, 2012-10 to Present</LI>
				  <LI>Semiconductor Manufacturing International Corporation: Software Engineer, 2011-7 to 2012-10</LI></UL>
			 </DIV>			 
			<!-- TRAINING AND CERTIFICATIONS END --> 
			
			<!-- EDUCATION START --> 
			<DIV class="docs-section">
			  <DIV class="page-header">
				<H1 class="docs-heading">EDUCATION<SPAN class="anchor-target" id="education"></SPAN> 
				<A name="education" class="anchor glyphicon glyphicon-link" href="#education"></A></H1>
			  </DIV>
			  <UL>
				  <LI>PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd.: Senior Software Engineer, 2012-10 to Present</LI>
				  <LI>Semiconductor Manufacturing International Corporation: Software Engineer, 2011-7 to 2012-10</LI></UL>
			 </DIV>			 
			<!-- EDUCATION END --> 


		  </DIV>
		</DIV>
	  </DIV> <!-- row end -->  
	</DIV> <!-- -->

	<footer class="footer">
	  <div class="container">
      <p>&copy; Company 2014</p>
	
	  </div>
    </footer>
			
			
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<SCRIPT src="jquery/1.11.1/jquery.min.js"></SCRIPT>
	<SCRIPT src="bootstrap/3.2.0/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT src="javascripts/application.js"></SCRIPT>
  </body>
</html>
